# {{ ansible_managed }} {{ role_path }}
### DISKS ######################################################################
{% if 'Archlinux' in ansible_distribution %}
UUID=24357969-51f9-44d2-865c-afdb8fe07274	/         	btrfs     	rw,relatime,space_cache,subvolid=5,subvol=/	0 0
{% else %}
UUID=95654c29-0776-4276-9dc9-b87c76255884 /boot xfs     defaults        0 0
UUID=8576d815-7459-41c6-aaca-edde8efbc558 /     ext4    defaults  0 0
{% endif %}
/dev/md0 /home1 ext4 defaults,auto,relatime 0 0
/dev/vg0/home2 /home2 ext4 defaults,auto,relatime 0 0
### NFS SHARES #################################################################
/home1/ /srv/nfs/home1 none bind,defaults 0 0
/home2/ /srv/nfs/home2 none bind,defaults 0 0
### LOCAL SUBMOUNTS ############################################################
